body {
    margin: 0;
    font-family: "Muli", sans-serif;

}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

header {
    background-color: #17141f;
    width: 100%;
}

header>section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;


}

.header-text-container {
    text-decoration: none;

}

.header-text-container>h1 {
    margin: 0;
    padding-top: 5px;
    font-size: x-large;
    color: #dc2d43;
}

.header-text-container>p {
    margin: 0;
    padding-top: 5px;
    font-size: medium;
    color: #dedede;
    font-weight: 100;
}

nav {
    height: 100%;
}

nav>.browse-btn {
    background-color: #17141f;
    color: white;
    font-weight: 700;
    white-space: nowrap;
    height: 100%;
    cursor: pointer;
    transition: color 0.2s ease;
    border: none;


}

nav>.browse-btn:hover {
    color: #dc2d43;
    /* background-color: #1a1824; */
    /* Above is background colour for the drop down when implemented */
}